// colors
$cl-black-tint0: rgb(0, 0, 0);
$cl-black-tint1: rgb(35, 38, 46);
$cl-black-tint2: rgb(46, 46, 46);
$cl-black-tint3: rgb(45, 49, 58);

$cl-white-tint0: rgb(255, 255, 255);
$cl-white-tint1: rgb(240, 231, 214);

//transparent colors
$cl-black-trans: rgba(45, 49, 58, 0.5);

// units 
$unit: 8px;